{% extends 'base.admin.html.twig' %}

{% block title %}Page administrateur
{% endblock %}

{% block body %}
	<div class="d-flex">
		{% include 'home/sidebar.html.twig' %}
		{% include 'home/post.html.twig' %}
	</div>
{% endblock %}
