{% extends 'base.admin.html.twig' %}

{% block title %}Page administrateur
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-3 col-4 px-0">
				{% include 'home/sidebar.html.twig' %}
			</div>
			<div class="col-lg-9 col-8">
				{% include 'home/post.html.twig' %}</div>
		</div>
	</div>
{% endblock %}
