{% extends 'base.html.twig' %}

{% block title %}User!
{% endblock %}

{% block body %}
    <div class="d-flex">
    {% include 'home/sidebar.html.twig' %}
    {% include 'home/post.html.twig' %}
    </div>
{% endblock %}
