{% extends 'base.admin.html.twig' %}

{% block title %}Gestion des posts
{% endblock %}

{% block body %}

	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper mt-3">
		<h1>Voici la liste des posts créés :</h1>


		<table class="table mt-5">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Titre</th>
					<th scope="col">Description</th>
					<th scope="col"></th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				{% for post in posts %}
					<tr>
						<th scope="row">{{post.id}}</th>
						<td>{{post.title}}</td>
						<td>{{post.description}}</td>
						<td>
							<button type="button" class="btn btn-outline-success">Éditer</button>
						</td>
						<td>
							<button type="button" class="btn btn-outline-danger">Supprimer</button>
						</td>
					</tr>
				{% else %}
					<p>Désolé, il n'y a aucun post de disponibles.</p>
				{% endfor %}
			</tbody>
		</table>

	</div>
	<div class="d-flex justify-content-center">
		<button type="button" class="btn btn-info">Créer un post</button>
	</div>

{% endblock %}
