{% extends 'base.html.twig' %}

{% block title %}Liste des commentaires
{% endblock %}

{% block body %}
	<div>
		{% for comment in comments %}
			<div>
				<p>
					<strong>{{ comment.id }}</strong>
					{{ comment.content }}</p>
				{% if comment.valid %}
					<a href="">Invalider</a>
				{% else %}
					<a href="">Valider</a>
				{% endif %}
				<a href="">Supprimer</a>
			</div>
		{% else %}
			<p>Désolé, il n'y a aucun commentaire de disponibles.</p>
		{% endfor %}
	</div>
{% endblock %}
