<!--Bref donc ça c'est l'affichage que j'avais commencé à faire pour les posts ^^ donc je le garde quelque part -->
<div class="shadow p-3 mb-5 bg-body rounded mt-4">
	<h3>Titre du post</h3>
	<p class="text-black-50 ml-2 mr-2">
		Description du post
	</p>
	<p class="text-justify ml-3 mr-3">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla consectetur finibus elit sit amet posuere. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur euismod sit amet quam at malesuada. Pellentesque sit amet euismod purus. Aenean mattis libero non nisi malesuada congue. Integer sodales tincidunt tellust
	</p>
</div>
